<div class="nav">
    <div class="navBar">
        <ul>
            <li class="list active">
                <a href="/home/" class="navItem">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="/patient/" class="navItem">
                    <span class="icon"><i class="fa-solid fa-user"></i></span>
                    <span class="text">Patients</span>
                </a>
            </li>
            <li class="list">
                <a href="#" class="navItem">
                    <span class="icon"><i class="fa-solid fa-warehouse"></i></span>
                    <span class="text">Inventory</span>
                </a>
            </li>
            <li class="list">
                <a href="#" class="navItem">
                    <span class="icon"><i class="fa-solid fa-comment"></i></span>
                    <span class="text">Feedback</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>

    </div>
    <div class="search-box">
        <input type="text" class="search-txt" placeholder="Search Here">
        <a href="#" class="search-btn">
            <!-- <img src="img/icons8-search.gif" alt=""> -->
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
    </div>
</div>