<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <dotlottie-player src="https://lottie.host/e84a12b4-8c30-4cff-8b73-7a5796f808f6/98ibiPDVSg.json"
        background="transparent" speed="1" style="width: 100%; height: 100%" direction="1" playMode="normal" loop
        autoplay></dotlottie-player>
</body>
</html>