<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DocMate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/alphardex/aqua.css@master/dist/aqua.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./styles/loginStyle.css">
</head>

<body>
    {{#each error as |e|}}
        <span>{{e}}</span>
    {{/each}}
    <!-- partial:index.partial.html -->
    <form class="login-form" action="/users/signup" method="post">
        <h1>SignUp</h1>
        <div class="form-input-material">
            <input type="text" name="email" id="signip-email" placeholder=" " autocomplete="off"
                class="form-control-material" required />
            <label for="email">Email</label>
        </div>
        <div class="form-input-material">
            <input type="text" name="username" id="signup-username" placeholder=" " autocomplete="off"
                class="form-control-material" required />
            <label for="username">Username</label>
        </div>
        <div class="form-input-material">
            <input type="password" name="password" id="signup-password" placeholder=" " autocomplete="off"
                class="form-control-material" required />
            <label for="password">Password</label>
        </div>
        <button type="submit" class="btn btn-primary btn-ghost">SignUp</button>
        <span>Already Have Account?</span><a href="/login" class="btnSu">Login</a>
    </form>

    <!-- partial -->

    <div class="login-form">
        <h1>Login via Social <br> Accounts</h1>

        <a href="/users/auth/google" class="gBtn">
            <div>
                <i class="fa-brands fa-google"></i>
                <span>Login with Google</span>
            </div>
        </a>
        <a href="/users/auth/facebook" class="gBtn">
            <div>
                <i class="fa-brands fa-facebook"></i>
                <span>Login with Facebook</span>
            </div>
        </a>
    </div>
    <script src="./signUp.js"></script>
</body>

</html>