* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #fff;
}

.navBar {
    padding: 15px;
    position: relative;
    width: 350px;
    height: 90px;
    margin: auto;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 768px) {
    .navBar {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .navBar {
        height: auto;
    }
}

.navBar ul {
    display: flex;
}

.navBar ul li {
    list-style-type: none;
    width: 90px;
    height: 70px;
    z-index: 1;
}

.navBar ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.navBar ul li a .icon {
    position: relative;
    line-height: 80px;
    transition: 0.5s;
    font-size: 30px;
    color: darkslateblue;
}

.patientImg {
    height: 40px;
}

.navBar ul li.active a .icon {
    font-size: 20px;
    transform: translateY(-6px);
}

.navBar ul li.active a .icon .patientImg {
    font-size: 20px;
    height: 30px;
    transform: translateY(-6px);
}

.navBar ul li a .text {
    position: absolute;
    font-size: 12px;
    color: #fff;
    bottom: 20px;
    font-weight: 400;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);
}

.navBar ul li.active a .text {
    transform: scale(1);
}

.indicator {
    position: absolute;
    left: 19px;
    width: 70px;
    height: 70px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
}

.navBar ul li:nth-child(1).active~.indicator {
    background: #f53b57;
    box-shadow: 0 15px 25px #f53b5799;
    transform: translateX(calc(80px * 0));
}

.navBar ul li:nth-child(2).active~.indicator {
    background: #5d62fb;
    box-shadow: 0 15px 25px #5d62fb99;
    transform: translateX(calc(80px * 1));
}

.navBar ul li:nth-child(3).active~.indicator {
    background: #05c46b;
    box-shadow: 0 15px 25px #05c46b99;
    transform: translateX(calc(80px * 2));
}

.navBar ul li:nth-child(4).active~.indicator {
    background: #0fbcf9;
    box-shadow: 0 15px 25px #0fbcf999;
    transform: translateX(calc(80px * 3));
}

.search-box {
    translate: (-50%, -50%);
    height: 50px;
    border-radius: 40px;
    padding: 10px;
    background: #8BA1AD;
    transition: 1s;
    margin-right: 15px;
}

.search-box:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 22px 0 rgba(0, 0, 0, 0.25);
}

.search-txt {
    height: 26px;
    background: none;
    border: none;
    float: left;
    outline: none;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 1s;
    width: 0px;
}

.search-btn {
    float: right;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 30px;
    width: 30px;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
}

.logout {
    margin-right: 35px;
    margin-top: 11px;
    cursor: pointer;
    color: #5d62fb;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logout .logIcon {
    transition: 0.5s;
    color: darkslateblue;
}

.logout .logText {
    font-size: 12px;
    color: black;
    font-weight: 400;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);
}

.logout:hover {
    color: #292d7bda;
    cursor: pointer;
}

.logout:hover .logIcon {
    font-size: 25px;
    transform: translateY(-6px);
}

.logout:hover .logText {
    transform: scale(1);
}

.profile {
    margin-top: 11px;
    margin-right: 10px;
    font-size: 30px;
}

.profileBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile .profileBtn .profileIcon {
    transition: 0.5s;
    color: darkslateblue;
}

.profile .profileBtn .profileText {
    font-size: 12px;
    color: black;
    font-weight: 400;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);
}

.profile:hover {
    cursor: pointer;
}

.profile .profileBtn:hover .profileIcon {
    font-size: 25px;
    transform: translateY(-6px);
}

.profile:hover .profileBtn .profileText {
    transform: scale(1);
}

.profile .profileBtn:link {
    color: black;
    text-decoration: none;
}

.profile .profileBtn:visited {
    color: black;
}

.profile .profileBtn:hover {
    color: darkslateblue;
}